ENCRYPTION_KEY=7RruBrEHX4h5ScgbKBemJQxRDljMs2MLoflISBGX5GU=
JWT_SECRET=qmm6D86VtcKNNVNfZtznvvZFj46LuT/f7b8qhAwuSzF5f1hwGqeFttwBbYdqvvbdKSeZk3g2jgJeC3FZQgbuvA==
OPENAI_API_KEY=dummy_key
PLAID_CLIENT_ID=dummy_id
PLAID_SECRET=dummy_secret
DATABASE_URL=postgres://wisecents_admin:123W1s3c3nts@wisecents-db.postgres.database.azure.com:5432/Wisecents_local?sslmode=require